{
    "parser": "babel-eslint",
    "extends": "standard",
    "rules": {
        "indent": 0,
        "semi": [2, "always"],
        "quotes": ["error", "single"],
        "curly": 0,
        "eol-last": 0
    }
}